<!doctype html>
<html lang="en" >
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.css">

    <title>Cassaro Odontologia - Início</title>
     <!--API de comentários-->
     <div id="fb-root"></div>
        <script>
          (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.2&appId=576343592822423&autoLogAppEvents=1';
          fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
        </script>
  </head>
    <!-- ________SECAO HEADER_________-->
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-verde fixed-top" >
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <img class="logo" src="img/logo.png" alt="">
        <div class="collapse navbar-collapse text-uppercase " id="navbarSupportedContent" >
          <div>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#home" style="color: #fff">Início</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#sobre" style="color: #fff">Sobre</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#blog" style="color: #fff">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#servicos" style="color: #fff">Serviços</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contato" style="color: #fff">Contato</a>
            </li>
          </ul>
        </div>
      </div>
      </nav>
    </header>
    <!-- ________SECAO MAIN_________-->
    <main class="ultimas blog2">
        <div class="capa">
            <div id="slider">
                <div class="transi text-center">
                  <hr style="width: 80%; height: 2px; background: #179a94; margin: 0 auto;">
                  <p class="txt1">A Cassaro aferece a você a qualidade em serviço e carinho no atendimento.</p>
                  <a class="botão nav-link" href="#servico">Conheça-nos</a>
                </div>
                <div class="transi text-center">
                  <hr style="width: 80%; height: 2px; background: #179a94; margin: 0 auto;">
                  <p class="txt1">Oferecemos a você dicas e atualizações para manter sua saúde bucal em dia.</p>
                  <a class="botão" href="#servicos">Atulize-se</a>
                </div>
                <div class="transi text-center">
                  <hr style="width: 80%; height: 2px; background: #179a94; margin: 0 auto;">
                  <p class="txt1">Contamos com uma ampla lista de serviços para melhor atender as suas necessidades.</p>
                  <a class="botão" href="#servicos">Confira</a>
                </div>
                <div class="transi text-center">
                  <hr style="width: 80%; height: 2px; background: #179a94; margin: 0 auto;">
                  <p class="txt1">Para qualquer dúvida, a equipe possui mais de um meio de contato.</p>
                  <a class="botão" href="#blog">Contate-nos aqui</a>
                </div>           
              </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="d-flex flex-wrap justify-content-center">
              <div class="d-flex justify-content-center">
                <div class="box-blog2">  
                  <div>
                    <h5 class="text-justify">Respiração Bucal e Rinite Alérgica: uma relação bem íntima!</h5>
                    <hr style="height: 2px; background: #179a94; margin-bottom: 2rem;">
                    <img id="blog2-img" src="img/lentes.png"  >
                  </div>
                  <p class="text-justify">Assim que finalizamos uma refeição e sentimos que um pequeno pedaço de comida está preso entre os dentes, é comum recorrermos aos palitos de dente, que sempre estão nas mesas dos restaurantes. 
                      Embora esta possa ser considerada um instrumento de limpeza tradicional e seguro, seu uso não deve ser recomendado para ninguém. 
                      Os palitos de dente já estão ultrapassados e seu uso pode machucar a gengiva e até mesmo estragar seus dentes. Caso eles quebrem durante o uso, podem causar inflamação e infecção. 
                      Substitua os palitos de dente pelo fio dental. Mantenha esse outro instrumento de higiene bucal na bolsa ao sair, é uma alternativa para não ter que usar palitos de dente. 
                      E sempre em qualquer dúvida que aparecer, consulte sempre seu dentista!</p>
                </div>
                <!--API DO FACEBOOK PARA COMENTÁRIOS-->
                <div class="fb-comments" data-href="https://odontologiacassaro.com.br/" data-numposts="5"></div>
              </div>
          
            <div>
              <div class="card">
                <div class="card-body">
                  <div>
                    <ul>
                    <li><a href="#">Título do artigo 1</a></li>
                      <hr style="height: 1px; background: #585858;">
                      <li><a href="#">Título do artigo 2</a></li>
                      <hr style="height: 1px; background: #585858">
                      <li><a href="#">Título do artigo 3</a></li>
                      <hr style="height: 1px; background: #585858">
                      <li><a href="#">Título do artigo 4</a></li>
                      <hr style="height: 1px; background: #585858">
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </main>
    <!-- ________SECAO FOOTER_________-->
    <footer> 
        <div class="container-fluid d-flex flex-column footer">
          <img class="logo" src="img/logo.png" alt="">
            <div>
              <p class="text-center">Av. Sete de Setembro, 765 - Caarapo/MS</p>
              <p  class="text-center">Segunda-Quinta: 8h às 12h / 14h às 18h. Sexta-feira: 8h às 12h.</p>
              <p  class="text-center">(67) 99995-8077</p>
            </div> 
            <div class="d-flex justify-content-end icons">
              <img class="p-2" src="img/facebook.png" alt="">
              <img class="p-2" src="img/google-plus.png" alt="">
              <img class="p-2" src="img/instagram.png" alt="">
            </div>
        </div>
      </footer>
  
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="../js/bootstrap.js"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
  </html>
