<!doctype html>
<html lang="en" >
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">

    <title>Cassaro Odontologia - Início</title>
  </head>
    <!-- ________SECAO HEADER_________-->
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-verde fixed-top" >
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <img class="logo" src="img/logo.png" alt="">
        <div class="collapse navbar-collapse text-uppercase " id="navbarSupportedContent" >
          <div>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#home"  style="color: #fff">Início</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#sobre"  style="color: #fff">Sobre</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#blog"  style="color: #fff">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#servicos"  style="color: #fff">Serviços</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contato"  style="color: #fff">Contato</a>
            </li>
          </ul>
        </div>
      </div>
      </nav>
    </header>

    <!-- ________CAPA_________-->
    <main class="bg-c">
        <div class="capa">
          <div id="slider">
              <div class="transi text-center">
                <hr style="width: 80%; height: 2px; background: #179a94; margin: 0 auto;">
                <p class="txt1">A Cassaro aferece a você a qualidade em serviço e carinho no atendimento.</p>
                <a class="botão nav-link" href="#servico">Conheça-nos</a>
              </div>
              <div class="transi text-center">
                <hr style="width: 80%; height: 2px; background: #179a94; margin: 0 auto;">
                <p class="txt1">Oferecemos a você dicas e atualizações para manter sua saúde bucal em dia.</p>
                <a class="botão" href="#servicos">Atulize-se</a>
              </div>
              <div class="transi text-center">
                <hr style="width: 80%; height: 2px; background: #179a94; margin: 0 auto;">
                <p class="txt1">Contamos com uma ampla lista de serviços para melhor atender as suas necessidades.</p>
                <a class="botão" href="#servicos">Confira</a>
              </div>
              <div class="transi text-center">
                <hr style="width: 80%; height: 2px; background: #179a94; margin: 0 auto;">
                <p class="txt1">Para qualquer dúvida, a equipe possui mais de um meio de contato.</p>
                <a class="botão" href="#blog">Contate-nos aqui</a>
              </div>           
            </div>
      </div>

      <!-- Seção Sobre-->
      <div id="home">
        <hr style="width: 80%; height: 2px; background: #179a94; margin: 0 auto;">
        <div class="desc fv d-flex justify-content-center">
          <div class="d-flex flex-wrap justify-content-center">
              <div>
                <img id="desc-img" src="img/clinica.jpg">
              </div>
              <div class="ml-4">
                <h2 class="text-justify">Cassaro Odontologia</h2>
                <p class="text-justify">A Odontologia Cassaro é uma clínica odontológica que renova a auto estima e devolve a alegria de sorrir de seus clientes, 
                  através do planejamento, personalização e atuação nas...</p>
                  <div class="input-group justify-content-end mt-5">
                    <div>
                      <a href="#sobre" class="btn bv fw">Ler mais</a>
                    </div>
                  </div>
              </div>
           </div>
        </div>

      <!-- ________ATUALIZAÇÕES_________-->
      <div class="atualiza">
        <h2 class="tituloPage text-center mt-2">Últimas do Blog</h2>
        <hr style="width: 80%; height: 1px; background: #179a94; margin: 0 auto; margin-top: 2rem;">
        <div class="d-flex justify-content-center">
          <div class="d-flex flex-wrap justify-content-center">

              <div class="card" style="width: 14rem;">
                <img class="card-img-top" src="img/dentista.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="container-fluid d-flex flex-column">
                  <div class="d-flex justify-content-end">
                    <a href="blogview.html" class="btn bv fw mr-2 mb-2">Ler mais</a>
                  </div>
              </div>
              </div>
      
              <div class="card" style="width: 14rem;">
                <img class="card-img-top" src="img/dentista.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="container-fluid d-flex flex-column">
                  <div class="d-flex justify-content-end">
                    <a href="blogview.html" class="btn bv fw mr-2 mb-2">Ler mais</a>
                  </div>
              </div>
              </div>
      
              <div class="card" style="width: 14rem;">
                <img class="card-img-top" src="img/dentista.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="container-fluid d-flex flex-column">
                  <div class="d-flex justify-content-end">
                    <a href="blogview.html" class="btn bv fw mr-2 mb-2">Ler mais</a>
                  </div>
              </div>
              </div>
      
                <div class="card" style="width: 14rem;">
                  <img class="card-img-top" src="img/dentista.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                  <div class="container-fluid d-flex flex-column">
                    <div class="d-flex justify-content-end">
                      <a href="blogview.html" class="btn bv fw mr-2 mb-2">Ler mais</a>
                    </div>
                </div>
                </div>
            </div>
          </div>

          <div class=" input-group mb-3 email justify-content-end mt-5">
            <input class="pl-2" type="text" placeholder="Digite seu email para receber atualizações" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append  ml-4">
              <button class="btn bv fw" type="button" id="button-addon2">Enviar</button>
            </div>
          </div>  
      </div>
      </div>

      <!-- Seção Sobre-->
      <div id="sobre">
        <div class="descSobre text-center">
          <h2 class="tituloPage">Odontologia Cassaro</h2>
          <hr style="width: 80%; height: 1px; background: #179a94; margin: 0 auto; margin-top: 2rem;">
          <p class="mt-4">A Odontologia Cassaro é uma clínica odontológica que renova a auto estima e devolve a alegria de sorrir de seus clientes, 
          através do planejamento, personalização e atuação nas necessidades individuais de cada pessoa que nos confia sua saúde.</p>
      </div>

      <div class="row pf-10">
          <div class="col d-flex justify-content-center">
              <div class="card" style="width: 14rem;">
                  <img class="card-img-top text-center" src="img/sobre1.jpg" alt="Card image cap">
                  <div class="card-body">
                      <h5 class="text-center titulo">Janaina Pascho</h5>
                      <h5 class="text-center">Função</h5>
                  </div>
              </div>
          </div>
          <div class="col d-flex justify-content-center">
              <div class="card" style="width: 14rem;">
                  <img class="card-img-top text-center" src="img/sobre1.jpg" alt="Card image cap">
                  <div class="card-body">
                      <h5 class="text-center titulo">Janaina Pascho</h5>
                      <h5 class="text-center">Função</h5>
                  </div>
              </div>
          </div>
          <div class="col d-flex justify-content-center">
                  <div class="card" style="width: 14rem;">
                      <img class="card-img-top text-center" src="img/sobre1.jpg" alt="Card image cap">
                      <div class="card-body">
                          <h5 class="text-center titulo">Janaina Pascho</h5>
                          <h5 class="text-center">Função</h5>
                      </div>
                  </div>
          </div>
      </div>
      </div>

    <!-- Seção Blog-->
    <div id="blog" class="ultimas blog">
      <h3 class="tituloPage text-center">Fique por dentro das atualizações que a Cassaro prepara para manter sua saúde bucal em dia!</h3>      <div class="desc d-flex justify-content-center">
        <div class="d-flex flex-wrap justify-content-center">
            <div class="d-flex flex-column">
              <div class="box-blog d-flex justify-content-center">
                <div class="blog-informacoes d-flex flex-wrap justify-content-center">
                    <div>
                      <img id="blog-img" src="img/clareamento.png">
                    </div>
                    <div class="blogTxt">
                      <h4 class="text-justify">Palitar os dentes? Não é uma boa ideia!</h4>
                      <p class="text-justify">Uma recomendação de todos os dentistas é o uso do fio dental, mas este 
                        precisa ser feito de uma forma correta. Por isso hoje vamos conversar...</p>
                        <div class="container-fluid d-flex flex-column">
                          <div class="d-flex justify-content-end">
                            <a href="blogview.html" class="btn bv fw">Ler mais</a>
                          </div>
                      </div>
                    </div>
                </div>
              </div>
              <div class="box-blog d-flex justify-content-center mt-1">
                <div class="blog-informacoes d-flex flex-wrap justify-content-center">
                    <div>
                      <img id="blog-img" src="img/clareamento.png">
                    </div>
                    <div class="blogTxt">
                      <h4 class="text-justify">Respiração Bucal e Rinite Alérgica: uma relação bem íntima!</h4>
                      <p class="text-justify">Para respirar pelo nariz não pode haver dificuldades na passagem 
                        do ar tanto pelo nariz quanto pela garganta, e os músculos do rosto e da mastigação...</p>
                        <div class="container-fluid d-flex flex-column">
                          <div class="d-flex justify-content-end">
                            <a href="blogview.html" class="btn bv fw">Ler mais</a>
                          </div>
                      </div>
                    </div>
                </div>
              </div>
                <nav aria-label="...">
                  <ul class="pagination">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">2</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">Next</a>
                    </li>
                  </ul>
                </nav>
            </div>
            
            <div>
              <div class="card">
                <div class="card-body">
                  <div>
                    <ul>
                      <li><a href="#">Título do artigo 1</a></li>
                        <hr style="height: 1px; background: #585858;">
                      <li><a href="#">Título do artigo 2</a></li>
                        <hr style="height: 1px; background: #585858">
                      <li><a href="#">Título do artigo 3</a></li>
                        <hr style="height: 1px; background: #585858">
                      <li><a href="#">Título do artigo 4</a></li>
                        <hr style="height: 1px; background: #585858">
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card mt-2">
                  <div class="card-body">
                    <div>
                      <ul>
                        <li><a href="#">Título do artigo 1</a></li>
                          <hr style="height: 1px; background: #585858;">
                          <li><a href="#">Título do artigo 2</a></li>
                          <hr style="height: 1px; background: #585858">
                          <li><a href="#">Título do artigo 3</a></li>
                          <hr style="height: 1px; background: #585858">
                          <li><a href="#">Título do artigo 4</a></li>
                          <hr style="height: 1px; background: #585858">
                      </ul>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      
      <!--Seção Serviços-->
      <div id="servicos">
        <h2 class="tituloPage text-center">Conheça os serviços que a Cassaro tem a ofecer para você.</h2>
        <div class="margem">
          <div class="box-serv d-flex justify-content-center">
              <div class="box-informacoes d-flex flex-wrap justify-content-center">
                  <div>
                    <img id="serv-img" src="img/lentes.png">
                  </div>
                  <div class="servTxt">
                    <h4 class="text-justify">Lente de Contato</h4>
                    <p class="text-justify">Clareiam os dentes fortemente manchados, recuperam os fraturados, 
                      com aspecto de envelhecimento, dentes separados ou desalinhados, proporcionando uma estética natural.</p>
                  </div>
              </div>
            </div>

            <div class="box-serv d-flex justify-content-center">
                <div class="box-informacoes d-flex flex-wrap justify-content-center">
                  <div>
                    <img id="serv-img" src="img/clareamento.png">
                  </div>
                  <div class="servTxt">
                    <h4 class="text-justify">Clareamento Dental</h4>
                    <p class="text-justify">Clareamento dental é uma solução eficaz e simples para você recuperar a cor natural dos dentes.
                        Dentes manchados ou amarelados ganham vida nova e ficam mais brancos e brilhantes! Brilhantes, Brilhantes, brilhantes.</p>
                  </div>
                </div>
              </div>

              <div class="box-serv d-flex justify-content-center">
                <div class="box-informacoes d-flex flex-wrap justify-content-center">
                  <div>
                      <img id="serv-img" src="img/ortodontia.png">
                  </div>
                  <div class="servTxt">
                    <h4 class="text-justify">Ortodontia</h4>
                    <p class="text-justify">A ortodontia, com os aparelhos dentais atuais, é uma das melhores alternativas para corrigir dentes tortos, fora de posição,
                          dentes com diastemas, prevenir bruxismo e corrigir as mordidas erradas.</p>
                  </div>
                </div>
              </div>
            </div>
        </div>

      <!--Seçã Contato-->
      <div id="contato">
        <h2 class="tituloPage d-flex justify-content-center text-center mb-5 ">Tire suas dúvidas, entre em contato conosco.</h2>
       <div class="formulario">
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="name" class="form-control" id="inputNome4" placeholder="Nome">
                <div class="invalid-feedback">
                  Nome é obrigatório.
                </div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                <div class="invalid-feedback">
                  E-mail é obrigatório.
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="tel" class="form-control" id="inputTelefone4" placeholder="Telefone">
                <div class="invalid-feedback">
                  Telefone é obrigatório.
                </div>
              </div>
              <div class="form-group col-md-6">
                <input type="tel" class="form-control" id="inputCelular4" placeholder="Celular">
                <div class="invalid-feedback">
                  Celular é obrigatório.
                </div>
              </div>
            </div>
            <div class="form-group mt-4_5">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"> Digite aqui sua mensagem </textarea>
              <div class="invalid-feedback">
                Informe sua mensagem.
              </div>
            </div>
            <button type="submit" class="btn bv fw d-flex justify-content-end icons">Enviar</button>
          </form>
        </div>
        <hr class="mt-4_5 bv" style="width: 70%; height: 2.5px; margin: 0 auto;">
        <h2 class="tituloPage d-flex justify-content-center">Encontre-nos.</h2>
        <div class="mapa d-flex justify-content-center container-fluid p-6"> 
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1841.1538545255464!2d-54.832349776544106!3d-22.642313141109142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x948983aa9ae05081%3A0xb3b533fd20ac99d0!2sOdontologia+Cassaro!5e0!3m2!1spt-BR!2sbr!4v1540237198056" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </main>

    <!-- ________SECAO FOOTER_________-->
    <footer> 
      <div class="container-fluid d-flex flex-column footer">
        <img class="logo" src="img/logo.png" alt="">
          <div>
            <p class="text-center">Av. Sete de Setembro, 765 - Caarapo/MS</p>
            <p  class="text-center">Segunda-Quinta: 8h às 12h / 14h às 18h. Sexta-feira: 8h às 12h.</p>
            <p  class="text-center">(67) 99995-8077</p>
          </div> 
          <div class=" d-flex justify-content-end icons">
            <img class="p-2" src="img/facebook.png" alt="">
            <img class="p-2" src="img/google-plus.png" alt="">
            <img class="p-2" src="img/instagram.png" alt="">
          </div>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../js/bootstrap.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>